/*=======================================================================================================================================
																	Generic CSS
=======================================================================================================================================*/
*
{
	margin:0;
	padding:0;
	border:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:1em;
}

/* Basic Common Column structure */
.width100{width:100%}
.margin_auto{margin:0px auto}
h1,h2,h3,h4,h5,h6{font-weight:normal;}

/* ========= Font Specific ========= */
.vTiny{font-size:0.7em !important;}
.tiny{font-size:0.8em}
.small{font-size:0.9em}
.regular{font-size:1.1em}
.semiMedium{font-size:1.3em;}
.medium{font-size:1.5em}
.large{font-size:2.2em}
.extra-large{font-size:2.6em;line-height:1.5}
.xx-large{font-size:3em;}

.light{font-family: 'Open Sans', sans-serif !important; font-weight:300;}
.fontRegular{font-family: 'Open Sans', sans-serif; font-weight:400;}
.semiBold{font-family: 'Open Sans', sans-serif; font-weight:600;}
.bold{font-family: 'Open Sans', sans-serif; font-weight:700;}
.upperCase{text-transform:uppercase}
.strike{ text-decoration:line-through}

/*float classes*/
.float_left{float:left;display:inline}
.float_right{float:right;display:inline}
.float_clear{clear:both;}

/*text alignment*/
.txtCenter{text-align:center;}
.txtRight{text-align:right;}
.txtLeft{text-align:left;}

/* padding */
.pad_3{padding:3px;}
.pad_5{padding:0.3em}
.pad_10{padding:0.6em}
.pad_14{padding:0.8em}
.pad_15{padding:0.9em}
.pad_20{padding:1.2em}
.pad_25{padding:1.5em}
.pad_30{padding:1.8em;}
.pad_40{padding:2.5em}
.pad_50{padding:3.1em}

.home_pad_offset{padding:1.8em;}

.pad_LR_30{padding:0 1.8em;}
.pad_L_15{padding-left:0.9em}
.pad_R_15{padding-right:0.9em}
.pad_LR_15{padding:0em 0.9em;}
.pad_LR_20{padding-left:1.2em;padding-right:1.2em}
.pad_LR_25{padding:0em 1.5em;}
.pad_LR_30{padding:0em 1.8em;}
.pad_L_30{padding-left:1.8em}
.pad_R_30{padding-right:1.8em}
.pad_TB_30{padding-bottom:1.8em;padding-top:1.8em}
.pad_TB_10{padding-bottom:0.6em;padding-top:0.6em}
.pad_TB_15{padding-bottom:0.9em;padding-top:0.9em}
.pad_TB_20{padding-bottom:1.2em;padding-top:1.2em}
.pad_TB_10{padding-bottom:0.6em;padding-top:0.6em}

/* margin */
.mrg_B_3{margin-bottom:0.18em;}
.mrg_B_5{margin-bottom:0.3em;}
.mrg_B_10{margin-bottom:0.6em;}
.mrg_B_15{margin-bottom:0.9em;}
.mrg_B_20{margin-bottom:1.2em;}
.mrg_B_25{margin-bottom:1.5em;}
.mrg_B_30{margin-bottom:1.8em;}

.mrg_R_15{margin-right:0.9em;}
.mrg_L_15{margin-left:0.9em;}

/*spacer*/
.space5{height:0.3em; display:block;}
.space10{height:0.6em; display:block;}
.space15{height:0.9em; display:block;}
.space20{height:1.2em; display:block;}
.space30{height:1.8em; display:block;}
.space35{height:2.1em; display:block;}
.space40{height:2.5em; display:block;}
.space50{height:3.1em; display:block;}
.space60{height:60px; display:block;}
.space70{height:70px; display:block;}
.space80{height:80px; display:block;}

/* coloumn structure*/
.col_1140{width:1140px;margin:0px auto}
.col_1_2{width:570px; float:left;}
.col_1_3{width:380px; float:left;}
.col_1_4{width:285px; float:left;}
.col_1_5{width:228px; float:left;}
.col_1_6{width:190px; float:left;}
.col_2_3{width:760px; float:left;}
.col_980{width:980px;}
.col_800_center{width:800px;margin:0px auto}
.col_800{width:800px; float:left}
.col_340{width:340px; float:left}

.col_800_right{width:800px; float:right;}
.col_340_right{width:340px; float:right;}

/*position*/
.posRelative{position:relative !important }

/*border-radius*/
.border_r_3{border-radius:3px;}
.border_r_4{border-radius:4px;}
.border_r_5{border-radius:5px;}
.border_r_50{border-radius:50%;}
.noBorder{border:none !important }

/*liner*/
.liner{height:1px; background-color:#000; display:block;}

/*text transform*/
.upperCase{text-transform:uppercase}
.capitalize{text-transform:capitalize;}
.txtDecNone{text-decoration:none;}

/* Notification */
.info, .success, .warning, .error {
margin: 10px 0px;
padding:12px;
padding-left:36px !important;display:block
}
.info {
	color: #00529B;
	background: #BDE5F8 url(../images/icons/ico-info.png) no-repeat 12px center;
}
.success {
	color: #4F8A10;
	background: #DFF2BF url(../images/icons/ico-success.png) no-repeat 12px center;
}
.warning {
	color: #9F6000;
	background: #FEEFB3 url(../images/icons/ico-warn.png) no-repeat 12px center;
}
.error {
	color: #D8000C;
	background: #FFBABA url(../images/icons/ico-error.png) no-repeat 12px center;
}

/*========================================================================================================================================
																	Miracles CSS
========================================================================================================================================*/

/* Theme Colors */
.themeBgPrime{background:#c61f83;} /* Purple */
.themeBgSec{background:#e2004a;} /* Reddish Pink */
.themeBgThr{background:#f3b22c} /* Yellow-Golden */
.themeBgQtr{background:#df0023} /* Red */

.themeClrPrime{color:#c61f83;}
.themeClrSec{color:#e2004a;}
.themeClrThr{color:#f3b22c;}
.themeClrQuin{color:#c87134} /* Brown */

.bgGrey{background:#f9f7f5;}
.bgLightGrey{background:#fbfbfb;}
.bgWhite{ background:#ffffff }


.clrWhite{color:#fff;}
.clrBlack{color:#000;}
.clrGrey{color:#a1a0a0;}
.clrDarkGrey{color:#606062;}
.bgBlack{background:#000;}


/* Text Style */
.paraTxt{color:#3e3e3e; line-height:1.5; font-size:1em;}
.subPara{line-height:1.5; font-size:1.3em;}
.line-ht-3{line-height:1.3;}
.line-ht-5{line-height:1.5;}
.line-ht-8{line-height:1.8;}
.letter-sp-2{letter-spacing:2px;}
.letter-sp-3{letter-spacing:3px;}

.greyLine{background:#ccc; height:1px; width:100%; display:block; margin-top:25px; margin-bottom:25px;}

.dis-tbl{display:table;}
.tbl-cell{display:table-cell; vertical-align:middle;}
.dis-block{display:block !important;}

.shortLine{display:block; width:100%; height:3px; width:80px; margin-top:25px; margin-bottom:25px;}
.space3{height:3px; display:block;}
.space1{height:1px; display:block;}

/* Header */
#header{}
.logo{float:left;}

.topFb, .topyouTube, .topInsta{transition:0.5s;}
.topFb:hover, .topyouTube:hover, .topInsta:hover{transform:translateY(-5px);}
.topFb{background:url("../images/icons/topFb.png") no-repeat center center; width:32px; height:32px; margin-right:10px; display:inline-block;}
.topyouTube{background:url("../images/icons/topYoutube.png") no-repeat center center; width:32px; height:32px; margin-right:10px; display:inline-block; }
.topInsta{background:url("../images/icons/topInsta.png") no-repeat center center; width:32px; height:32px; display:inline-block;}

.topSocial{width:20px; height:20px; display:inline-block; margin-right:10px; transition:0.5s;}
.tfb:hover, .tyoutube:hover, .tinsta:hover{transform:translateY(-5px);}
.tfb{background:url("../images/icons/fb.png") no-repeat center center;}
.tyoutube{background:url("../images/icons/youtube.png") no-repeat center center;}
.tinsta{background:url("../images/icons/insta.png") no-repeat center center;}

.topCall{background:url("../images/icons/callTop.png") no-repeat left center; text-decoration:none; padding-left:30px; color:#3e3e3e; line-height:1.5; position:absolute; top:45px; right:15px; font-size:1.1em; font-weight:400}

/* Navigation */
#mobNav{display:none;}
#topNavPanel{float:right; -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s;}
#topNav{list-style:none;  margin-top:90px;}
#topNav li{display:inline; position:relative;}
#topNav li a{font-family: 'Open Sans', sans-serif; font-weight:600; display:inline-block;text-decoration:none;color:#000;font-size:1em;line-height:1.5;padding:15px 10px}
#topNav li a.subNav{background:url(../images/icons/navArrow.png) no-repeat right center;padding-right:23px!important; cursor:pointer;}
#topNav li a:hover{color:#c61f83;}
#topNav li a:before{content:''; position:absolute; width:5px; height:5px; background:#c61f83; bottom:-10px; left:50%; transform:translateX(-50%); opacity:0; transition:0.5s; border-radius:50%;}
#topNav li a:hover:before{opacity:1; box-shadow:10px 0 0 #00509a, -10px 0 0 #e2004a, 20px 0 0 #f3b22c, -20px 0 0 #f3b22c;}

#navBtn{width:34px;height:34px;background:url(../images/icons/nav-btn.png) no-repeat left center;display:none; cursor:pointer; position:absolute; top:90px; right:10px;}

#topNav ul{position:absolute; display:none; top:35px; left:0px; background:#fff; padding:5px 0; border-bottom:3px solid #002e5f; box-shadow:3px 2px 15px rgba(0,0,0,0.4);}
#topNav ul li{display:block; text-align:left;}
#topNav ul li a{font-family: 'Open Sans', sans-serif; font-weight:400; display:inline-block;text-decoration:none;color:#000;padding:4px 10px;width:180px;font-size:0.8em;}
#topNav ul li a:hover{color:#30a3d9 !important; background:transparent;}
#topNav li:hover > ul{display:block; z-index:3;}

.closeBtn{position:absolute; top:5px; right:25px; font-size:36px; color:#fff; text-decoration:none; display:none;}

/* Banner */
#slideBanner{width:100%; background:url(../images/banner/banner-1.jpg) no-repeat center center; background-size:cover; height:500px;}

.readAnch{position:relative; text-decoration:none; background:#fff; color:#000; padding:12px 25px; display:inline-block; z-index:1; overflow:hidden; border:2px solid transparent; border-image:linear-gradient(-220deg, #c61f83, #f3b22c); border-image-slice:1;}
.readAnch:before{content:''; position:absolute; top:0; left:-101%; width:101%; height:100%; background:linear-gradient(to right, #c61f83, #f3b22c); transition:0.5s ease-in-out; z-index:-1;}
.readAnch:hover:before{left:0; z-index:-1;}
.readAnch:hover{color:#fff;}

/* About Us */
.width80{width:80%; float:right;}
.aboutRelImg, .aboutAbsImg{padding:3px; background:#E4EADC;}
.aboutRelImg img, .aboutAbsImg img{}
.aboutAbsImg{position:absolute; top:20%; left:-150px; width:200px; height:200px; box-shadow:8px 4px 20px rgba(0,0,0,0.5);}

/* Services */
.bgServ{background:url("../images/bgMakeup.jpg") no-repeat fixed center; background-size:cover; width:100%;}
.bgServOverlay{background:rgba(0,0,0,0.7);}

.container{position:relative; overflow:hidden;}
.imgBox{width:100%;overflow:hidden; transition:.5s; position:relative;}
.content{width:50%; height:100%; position:absolute; top:0; left:0; background:linear-gradient(-250deg, #c61f83, #f3b22c); box-sizing:border-box; transform-origin:left; transition:.5s; transform:perspective(600px) rotateY(90deg);}

.container:hover .content{transform:rotateY(0deg) ;}
.container:hover .imgBox{transform:perspective(600px) translateX(20%)}

.servName{position:absolute; bottom:5px; left:0; background:linear-gradient(to right, rgba(198,31,131,0.8), rgba(243,178,44,0.8)); padding:10px; width:100%; display:block; transition:0.9s;}
.container:hover .servName{left:100%;}

.servCol{width:33%; display:inline-block;}
.servBg{background:linear-gradient(to right, rgba(198,31,131,0.8), rgba(243,178,44,0.8)); width:100%;}

.readAnchWhite{text-decoration:none; background:#fff; border:2px solid #fff; color:#c61f83; padding:10px 25px; display:inline-block;  -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s;}
.readAnchWhite:hover{background:transparent; color:#fff;}

/* Products Slider */
.testPad{padding:20px 80px;}
.unslider{overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider ol{display:none;}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer; top: 55%;}

.unslider-arrow.next{left:auto;right:0px; height:48px; width:48px; background-image:url(../images/icons/next.png); }
.unslider-arrow.prev{left:0px;right: auto; height:48px; width:48px; background-image:url(../images/icons/next.png);-ms-transform: rotate(-180deg);
			transform: rotate(-180deg); }

/* Tips */
.tipsList{}
.tipsList li{display:inline-block;  margin-right:15px; margin-bottom:15px;}
.tipsList li a{text-decoration:none; background:#c61f83; border-radius:3px; display:block; padding:5px 13px; color:#fff; font-size:1em; font-weight:400; transition:0.5s;}
.tipsList li a:hover{background:#f3b22c}

/* Videos */

#videos .col_1_3:hover .themeBgPrime{background:#e2004a;}

.width50{width:50%; float:left;}
.bgAppSidebar{background:url("../images/miracles-appointment.jpg") no-repeat center center; width:100%; background-size:cover; height:760px;}

/*Form Controls*/
.w100{width:100%;}
.labelCap{ font-weight:600; padding:5px 15px 5px 0px; display:block; margin-bottom:0.3em }
.subNotice{font-size:0.8em; color:#999999; font-style:italic; margin-bottom:15px; display:block}
.textBox{padding:0.5em; display:block; border:1px solid #ccc; color:#000; resize:none; width:97%; background:transparent;}
.textBox:focus{outline:none; border:1px solid #c61f83;}
.cmbBox{padding:0.5em; border:1px solid #cccccc; display:block; resize:none; width:98%}
.w50{width:50%}
.w20{width:20%}
.w80{width:80%}
.w95{width:95%}
.w98{width:98%}
.w70{width:70%; margin:0 auto;}
.app_r_padding{padding-right:1.8em}
.chkList{width:100%}
.chkList input{padding:8px; margin-bottom:10px; display:inline-block;}
.buttonForm{background-color:#c61f83; width:98.5%; display:block; color:#fff; font-size:1em; padding:10px 18px; cursor:pointer; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.buttonForm:hover{background:#000;}

#map-canvas{display:block; height:450px;}


/*Footer*/
.footer{background-color:#000000;}
.footer span{display:block; color:#a1a0a0; font-weight:400;}
.footerCaption{font-size:1.4em; line-height:1.5;}
.footerNav{list-style:none}
.footerNav li{}
.footerNav li a{text-decoration:none;display:inline-block;padding:0.2em 0em;color:#a1a0a0;font-size:0.9em; line-height:1.3; font-weight:400;}
.footerNav li a:hover{color:#009a97;}
.intellect{text-decoration:none; font-weight:600; color:#9b9b9b;}
.intellect:hover{color:#c61f83;}
.footerLogo{display:block;}

.footerLine{background:#494b4f; width:100%; display:block; height:1px;}

.socialIco{width:32px; height:32px; display:inline-block; margin-right:3px; transition:all 0.5s ease; opacity:0.6;}
.fb{background:url("../images/icons/topFb.png") no-repeat center center;}
.youtube{background:url("../images/icons/topYoutube.png") no-repeat center center;}
.insta{background:url("../images/icons/topInsta.png") no-repeat center center;}

.fb:hover, .youtube:hover, .insta:hover{transform:translateY(-5px);}

/* Contact Info - Home */
.addr{background:url("../images/icons/location.png") no-repeat top left; display:block; padding-left:34px;}
.email{background:url("../images/icons/mail.png") no-repeat top left; display:block; padding-left:34px; }
.call{background:url("../images/icons/call.png") no-repeat top left; display:block; padding-left:34px;}
.breakWord{word-wrap:break-word;}

.absTopArrow{position:fixed; bottom:15px; right:20px;}
.fixedArrow{background:url("../images/icons/topIco.png") no-repeat center center; display:block; height:48px; width:48px;}
.topArrowIco{}

/*Page Header Classes*/
.pg_TB_pad{padding:7em 0em;}
.headerOverlay{background:rgba(0,0,0,0.5); display:block;}
.pgHeader1{background:url("../images/page-headers/pg-header-1.jpg") no-repeat center center; background-size:cover;}
.pgHeader2{background:url("../images/page-headers/pg-header-2.jpg") no-repeat center center; background-size:cover;}
.pgHeader3{background:url("../images/page-headers/pg-header-3.jpg") no-repeat center center; background-size:cover;}
.pgHeader4{background:url("../images/page-headers/pg-header-4.jpg") no-repeat center center; background-size:cover;}

.pageH1{font-size:3.2em; line-height:1.3;}
.pageH2{font-size:2.1em; line-height:1.5;}
.pageH3{font-size:1.7em; line-height:1.5;}
.pageH4{font-size:1.4em; line-height:1.5;}

/* Bread Crumbs */
.bCrumb{list-style:none;display:inline;font-size:1em; margin-top:8px; float:left;}
.bCrumb li{display:inline;margin-right:0.6em;color:#fff; float:left; font-weight:400;} 
.bCrumb li a{text-decoration:none;font-size:1em; font-weight:bold; color:#f3b22c;}
.bCrumb li a:hover{border-bottom:2px solid #f3b22c; }

/* page sidebar */
.sideBlueBase{background-color:#f0efef;text-align:center}
.sideTitle{color:#6412a3;line-height:1.5;}
.sideIntro{color:#4d4e53;line-height:1.3;font-size:1em}
.sideAnch{background-color:#9f1ca6; font-weight:400; color:#fff;text-align:center;display:block;padding:0.8em 1em;text-decoration:none;line-height:1.3;width:150px;margin:0px auto; transition:0.5s;}
.sideAnch:hover{background-color:#000;}


/* Tips */
.box-shadow{box-shadow:1px 5px 15px rgba(0,0,0,0.2);}
.tipsPad{padding:20px 15px 20px 35px;}
.tipsContainer{position:relative; overflow:hidden; }
.tipsContainer:before{content:''; position:absolute; left:-30px; top:0; background:#e2004a; width:50px; height:50px; transform:skew(130deg); box-shadow:8px 0 10px rgba(0,0,0,0.2)}
.tipsAnch{font-size:1em; text-decoration:none; color:#000; display:inline-block; line-height:1.3;}
.tipsAnch:hover{color:#e2004a;}

.tipsContainer:hover.tipsContainer:before{background:#f3b22c;}

/* Border Table */
.horizontal-resp-tbl{overflow-x:auto;}
.coloredTable{border-collapse:collapse;width:100%}
.coloredTable a { }
.coloredTable th, .coloredTable td{padding:10px; vertical-align:middle; text-align:center; font-weight:400; border:1px solid #fff;}
.coloredTable th{padding:12px; text-align:center; color:#fff; font-size:1.1em; font-weight:600;}
.coloredTable tr:nth-child(even){background:#f6f6f6}
.coloredTable tr:nth-child(odd){background:#eeeeee}
.coloredTable td{font-size:1em;}



/*================================================== Media Queries ==================================================*/

@media screen and (max-width: 1600px)
{
}
@media screen and (max-width: 1200px)
{
	.email{word-wrap:break-word;}
	.col_1140{width:95%}
	.col_1_2{width:50%}
	.col_1_3{width:33%}
	.col_2_3{width:67%}
	.col_1_4{width:25%}
	.col_1_5{width:20%}
	.col_1_6{width:16.5%}
	.col_800{ width:70%}
	.col_340{ width:30%}

}
@media screen and (max-width: 1140px)
{
	.col_1140{width:95%}
	.col_1_2{width:50%}
	.col_1_3{width:33%}
	.col_2_3{width:67%}
	.col_1_4{width:25%}
	.col_1_5{width:20%}
	.col_1_6{width:16.5%}
	.col_800{width:70%}
	.col_340{width:30%}

	.col_800_right{width:70%;}
	.col_340_right{width:30%;}

	#navBtn, #mobNav{display:block;}
	#topNavPanel{position:fixed; top:0; right:0; width:0; height:100%; z-index:1; background:rgba(198,31,131,0.9); overflow-x:hidden;  overflow-y:scroll;}
	#topNav{list-style:none; margin-top:60px;}
	#topNav li{display:block; position:relative; text-align:left !important;}
	#topNav li a{font-family: 'Open Sans', sans-serif !important; font-size:1em !important; padding:8px 30px !important; line-height:1 !important; text-decoration:none; background:transparent; display:block; border:none !important; font-weight:400; color:#fff; font-size:1em; line-height:1.5; padding:5px 20px;}
	#topNav li a:hover{background:transparent; color:#f3b22c;}
	#topNav li a:before, #topNav li a:hover:before{display:none;}

	#topNav ul{position:relative; top:0px; left:18px;display:block; padding:3px 0; background:transparent !important; border:none !important; box-shadow:none !important;}
	#topNav ul li{border:none !important; }
	#topNav ul li a{display:block;padding:5px 0px 1px 10px; font-size:0.9em; line-height:1.5; color:#fff !important;background:transparent;text-align:left; }
	#topNav ul li a:hover{background:transparent !important; color:#f0e43d !important;}

	.closeBtn{display:block;}
	#slideBanner{height:356px;}
}
@media screen and (max-width: 1024px)
{
	.col_980{width:100%;}
	#slideBanner{height:320px;}
	#services .large{font-size:1.8em;}
	#services .readAnchWhite{padding:10px 15px;}
}
@media screen and (max-width: 920px)
{   
	.col_800{width:100%; float:none }
	.col_340{width:50%; float:none;}
	.col_800_center{width:100%;}
	
	.col_800_right{width:100%; float:none; margin-top:30px;}
	.col_340_right{width:50%; float:none; margin-top:30px;}
	
	.pad_L_30{padding-left:0; margin-top:30px;}

	 #slideBanner{height:288px;}

	 #about .col_1_2{width:100%; float:none; text-align:center;}
	 #services .large{font-size:1.3em;}
	  #services p{font-size:0.8em;}
	  #services .readAnchWhite{padding:8px;}

	  #appointment .width50{width:100%; float:none;}

	  #serv .col_1_2{float:none; width:100%;}
}
@media screen and (max-width: 860px)
{
	#slideBanner{height:269px;}
}
@media screen and (max-width: 800px)
{
	.col_1_2, .col_1_3, .col_1_4, .col_1_5, .col_1_6, .col_2_3{width:100%; float:none;}
	#slideBanner{height:250px;}
	/*#navBtn{top:125px;}*/

	#services .large{font-size:2em;}
	#services p{font-size:1em;}
	#services .readAnchWhite{padding:10px 15px;}

	.servCol{width:49%;}
	#videos .col_1_3{width:49%; float:none; display:inline-block;}
	#videos .float_clear{display:none;}
	.tipsContainer{height:auto;}
}
@media screen and (max-width: 768px)
{
	#slideBanner{height:240px;}
}
@media screen and (max-width: 640px)
{   
	.col_1_3{width:100%}
	.col_2_3{width:100% }

	.w50{width:100%;}
	.app_r_padding{padding:0em !important}
	.textBox{width:93.7%;}
	.conTxtBox{width:90%;}
	.cmbBox{width:93.7%;}

	.col_340{width:100%;}
	.topCall{display:none;}
	#slideBanner{height:200px;}

	#about .width80{width:100%; float:none;}
	.aboutAbsImg{display:block; margin:0 auto; left:0; right:0; top:300px;}
	#about .col_1_2 .pad_TB_15{padding:50px 0 0 0;}
	 /*.logo{width:300px;}
	 #navBtn{top:110px; padding:0; right:20px;}*/

	 .themeBgPrime .float_left{margin-bottom:8px;}
	 .themeBgPrime .float_right, .float_left{float:none; display:block; margin:0 auto; text-align:center;}
}
@media screen and (max-width: 480px)
{	
	.home_pad_offset{padding:0.6em;}
	#slideBanner{height:150px;}
	.aboutAbsImg{display:none;}
	#about .col_1_2 .pad_TB_15{padding:0px 0 0 0;}
	 /*.logo{width:250px;}
	 #navBtn{top:90px; right:15px;}*/

	 #services .large{font-size:1.3em;}
	  #services p{font-size:0.8em;}
	  #services .readAnchWhite{padding:8px;}

	   .servCol{width:100%;}
	   #videos .col_1_3{width:100%;}
}
@media screen and (max-width: 414px)
{
	#slideBanner{height:129px;}
	#services .readAnchWhite{padding:5px; font-size:0.9em !important;}
}
@media screen and (max-width: 375px)
{
	#slideBanner{height:156px;}
	#services .content .pad_30{padding:10px;}
	#services p{display:none;}
}
@media screen and (max-width: 360px)
{
	.pageH1{font-size:2.2em;}
	.xx-large{font-size:2.1em;}

	#slideBanner{height:113px;}
	/*.logo{width:200px;}
	 #navBtn{top:70px; right:10px;}*/
}
@media screen and (max-width: 320px)
{
	#slideBanner{height:100px;}
}

.book-your-appt{
	text-decoration: none;
    background: #c61f83;
    border-radius: 3px;
    padding: 15px;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    transition: 0.5s;
}

@media screen and (min-width: 400px)
{
	.appt-container{
		text-align: center;
	}
	.qr-container{
		width: 320px;
		margin: 0 auto;
	}
}
